/*#order input.form-control {
    width: 100px;
}*/

#order {
    width: 40%;
}

#order .btn-primary {
    float: right;
}

thead {
    background-color: steelblue;
}

#order select {
    text-align-last: center;
}

#orderDetails {
    width: 300px;
    margin-left: 100px;
    margin-top: 60px;
    border: double 1px;
    border-width: medium;
}

hr {
    border-color: darkgrey;
    margin-bottom: 5px;
}

